# Dependencies
node_modules
package-lock.json

# Environment
.env
.env.local
.env.*.local

# Build
build/
dist/
artifacts/
cache/

# Testing
coverage/
coverage.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# Misc
.DS_Store
*.log
